@namespace eShopOnBlazorWasm.Features.CatalogItems.Pages
@using eShopOnBlazorWasm.Features.Bases
@inherits BaseComponent
@page "/Catalog/Details/{EntityId:int}"

<h1>Catalog Item Details</h1>

<eShopOnBlazorWasm.Features.CatalogItems.Components.Details CatalogItemId=@EntityId />

<button class="btn btn-primary" @onclick=@BackClick>Back To List</button>