@namespace eShopOnBlazorWasm.Pages.Catalog
@using eShopOnBlazorWasm.Features.Bases
@inherits BaseComponent
@page "/Catalog/Edit/{EntityId:int}"

<h1>Edit</h1>

<eShopOnBlazorWasm.Features.CatalogItems.Components.Edit CatalogItemId=@EntityId />
