@namespace eShopOnBlazorWasm.Components
@inherits BaseComponent

<div data-qa="@TestId">
  <span>Showing @(PageIndex +1) of @PageCount</span>
  <nav aria-label="Page navigation">
    <ul class="pagination">

      <li class="page-item">
        <button class="btn btn-primary" disabled=@IsPreviousDisabled @onclick=@OnPreviousClick>Previous</button>
      </li>
      <li class="page-item">
        <button class="btn btn-primary" disabled=@IsNextDisabled @onclick=@OnNextClick>Next</button>
      </li>
    </ul>
  </nav>
</div>
