@namespace eShopOnBlazorWasm.Components
@inherits BaseComponent

<div data-qa="@TestId">
  <nav aria-label="Page navigation example">
    <ul class="pagination">

      <li class="page-item">
        <button class="btn btn-link" @onclick=@(async _ => await OnClick(PageIndex-1))>Previous</button>
      </li>
      <li class="page-item">
        <button class="btn btn-link" @onclick=@(async _ => await OnClick(PageIndex+1))>Next</button>
      </li>
    </ul>
  </nav>
</div>
